@use '@scss/common.scss' as *;
.grid {
  align-items: start  ;
  
}

.media {
  width: calc(100% + var(--gutter-h));
  max-width: 800px;
}

.link {
  margin: var(--base) 0 !important;
}
.label {
  font-size: 13px;
   @include label; 
    
}

.actions {
  width: 100%;
  list-style-type: none;  
  padding-left: 0;
  > li {
    width: 100%;
  }
}